<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link List</title>
</head>
<body>
<h3>Link List</h3>
<p> <a href="{% url 'linkdl:submit' %}"> + Download photo</a></p>
{% if latest_link_list %}
    {% for link in latest_link_list %}
    <p>{{ forloop.revcounter }}.<a href="{% url 'linkdl:detail' link.id %}">{{ link.link }}</a> - 
    <img src="{{ link.link }}" height=50vw style="vertical-align:middle"></p>
    {% endfor %}
    </p>
{% else %}
    <p>No links are available.</p>
{% endif %}
</body>
</html>